<div id="loginScreen">
    <p>
        Welcome!  Please Login to Your Fridge Safe Account!
      </p>
      <div>
        <span>Username :</span><input type="text" id="Username" name="Username" />
      </div>
      <div>
        <span>Password :</span><input type="password" id="Password" name="Password" />
      </div>
      <div>
        <button onclick="document.getElementById('loginScreen').classList.add('hide'); document.getElementById('managementScreen').classList.remove('hide');" >Login</button>
      </div>
</div>
<div id="managementScreen" *ngIf="safes" class="hide">
  <ul>
    <li *ngFor="let safe of (safes | async)">
      <div>
      Locked: {{ !safe.Open  }}
      </div>
      <div *ngIf="safe.TimeStamp">Last Update: {{ safe.TimeStamp.toDate() }}</div>
      <div>Is Demo: {{ safe.IsDemo }}</div>
      <div>
        <button [ngClass]="{'unlocked': safe.Open, 'locked': !safe.Open}" 
          (click)="toggleLock(safe)">{{safe.Open === false ? "Unlock Fridge" : "Lock Fridge" }}
      </button> 
      </div>
    </li>
  </ul>
</div>